body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  #container {
    display: block;
    position: relative;
  }
  .pageContainer {
    position: fixed;
    top: 10vw;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  #importDiv {
    background-color: red;
    z-index: 0;
  }
  #unitContainer {
    background-color: green;
  }
  #phaseContainer {
    background-color: orange;
  }
  .PageButton {
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(100% - 25px);
    background-color: blue;
    z-index: 100;
  }
  .pageBorder {
    left: 5px;
    right: 5px;
    top: 5px;
    border: solid white 2px;
    position: absolute;
    height: 92%;
  }
}
@media only screen and (min-width: 600px) {
  #container{
    display: flex;
    gap: 10px;
  }
  .PageButton {
    display: none;
  }
}

a {
  color: #00B7FF;
}
.abilityDiv , .weaponProfileDiv {
  display: flex;
  flex-direction: column;
  border: solid black;
  margin: 5px;
  padding: 5px;
  width: 650px;
}
.abilityDiv > span, .weaponProfileDiv > span {
  font-weight: bold;
}
.abilityDiv > div {
  display: flex;
  flex-direction: column;
}
.weaponProfileDiv > div {
  display: flex;
  flex-direction: row;
}
.abilityDiv > div > div {
  display: flex;
  gap: 15px;
  padding: 5px;
  
}
.abilityDiv > div > div > label {
  font-weight: bold;
  padding-right: 10px;
  width: 70px;
}
.abilityDiv > div > div > span {
  width: -webkit-fill-available;
}

.weaponProfileDiv > div > div {
  display: flex;
  gap: 15px;
  padding: 5px;
  flex-direction: column;
}
.weaponProfileDiv > div > div > label {
  font-weight: bold;
  min-width: 30px;
}
.weaponProfileDiv > div > div > span {

  max-width: 150px;
}
